{% extends 'crypt/base.html' %} {% load staticfiles %} {% block content %}
<div class="container">
    <div class="row p-y-3">
        {% for post in all_posts %}
        <div class="col-md-4 m-b-2">
            <div class="key">
                <div class="m-b-1">
                    <h3 class="major">Сообщение # {{ post.pk }} </h3>
                </div>
                <div>
                    <b>Текст: </b>
                    <p class="major">{{post.text}}</p>
                    <b>Ключ: </b>
                    <p class="major">{{ post.key }}</p>
                    <b>Зашифрованный текст: </b>
                    <p>{{ post.crypted_text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
