{% extends 'crypt/base.html' %} {% load staticfiles %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 m-t-3">
            <h2 class="major m-y-3">Crypt your message</h2>
        </div>
        <div class="col-md-6">
            <select name="crypt">
                <option selected disabled>Выберите метод шифрования</option>
                <option value="1">Полиграммный шифр подстановки Хилла</option>
                <option value="2">RSA-шифрование</option>
                <option value="3">Гаммирование</option>
                <option value="4">Другой</option>
            </select>
        </div>
        <div class="col-md-6" id="key_field">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-y-3">
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="field">
                    <label for="post-text">Ваше сообщение: </label>
                    {{ post_form.text }}
                </div>
                <ul class="actions pull-xs-right">
                    <li>
                        <input type="submit" value="Зашифровать">
                    </li>
                </ul>
                <div id="results"></div>
            </form>
        </div>
        <div class="col-md-6 p-y-3">
            <form method="post" id="decrypt-form">
                {% csrf_token %}
                <div class="field">
                    <label for="post-text">Зашифрованное сообщение: </label>
                    {{ decrypt_form.text }}
                </div>
                <ul class="actions pull-xs-right">
                    <li>
                        <input type="submit" value="Расшифровать">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</div>
<!-- <h4>Tab 1</h4>
                <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="fieldWrapper" id="the_post">
                        {{ form.text }}
                </div>
                <div id="results"></div>
                <input type="submit" value="Post" class="button">
                </form> -->
<!--         <div class="row" id="talk">
              {% for post in all_posts %}
              <div class="col-md-4">
                <div class="panel panel-info">
                  <div class="panel-heading">
                  <p>Сообщение #{{ post.pk }}</p>
                  </div>
                  <div class="panel-body">
                    <p>{{ post.text }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div> -->
{% endblock content %}
